<div class=" jumbotron content-wrapper mat-elevation-z8 container mt-5">
    <div class="row">
        <div class="col-12">
          <h3>Ajouter un competence </h3>
      
        </div>
      </div>
  <hr>
  <div class="list-users shadow bg-light mt-5">
      <form action="" class="px-5 mb-4">
          <fieldset>
              <div class="form-group row mt-5">
                  <label for="GrpeCompetence" class="col-md-3 col-form-label">Groupe de Competences</label>
                  <div class="col-sm-7">
                      <select class="form-control form-control-lg">
                          <option disabled>--</option>
                          <option value="">Développer le back-end d'une application</option>
                      </select>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="libelle" class="col-3 col-form-label">Libelle</label>
                  <div class="col-sm-7">
                      <input type="text" name="libelle" class="form-control" id="libelle" placeholder="Libelle">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="libelle" class="col-3 col-form-label">Niveaux</label>
                  <div class="col-md-7">
                      <ul class="nav nav-tabs">
                          <li class="nav-item">
                              <a href="#home" class="nav-link active" data-toggle="tab">Niveau 1</a>
                          </li>
                          <li class="nav-item">
                              <a href="#profile" class="nav-link" data-toggle="tab">Niveau 2</a>
                          </li>
                          <li class="nav-item">
                              <a href="#messages" class="nav-link" data-toggle="tab">Niveau 3</a>
                          </li>
                      </ul>
                      <div class="tab-content">
                          <div class="fade tab-pane row show active" id="home">
                              <div class="col">
                                  <h4 class="mt-2">Groupes  d'actions à réaliser</h4>
                                  <textarea name="competence" id="competence" class="form-control w-100"></textarea>
                              </div>
                              <div class="col">
                                  <h4 class="mt-2">Critere Evaluation</h4>
                                  <textarea name="competence" id="competence" class="form-control w-100"></textarea>
                              </div>
                          </div>
          
                           <div class="fade tab-pane row" id="profile">
                              <div class="col">
                                  <h4 class="mt-2">Groupes  d'actions à réaliser</h4>
                                  <textarea name="competence" id="competence" class="form-control w-100"></textarea>
                              </div>
                              <div class="col">
                                  <h4 class="mt-2">Critere Evaluation</h4>
                                  <textarea name="competence" id="competence" class="form-control w-100"></textarea>
                              </div>
                          </div>
                          <div class="fade tab-pane row" id="messages">
                              <div class="col">
                                  <h4 class="mt-2">Groupes  d'actions à réaliser</h4>
                                  <textarea name="competence" id="competence" class="form-control w-100"></textarea>
                              </div>
                              <div class="col">
                                  <h4 class="mt-2">Critere Evaluation</h4>
                                  <textarea name="competence" id="competence" class="form-control w-100"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mt-4 button-form text-center">
                  <button type="submit" class="btn btn-primary w-25 submit mb-4">Soumettre</button>
              </div>
          </fieldset>



      </form>
  </div>
</div>