<div class=" jumbotron content-wrapper mat-elevation-z8 container mt-5">
    <div class="row">
        <div class="col-12">
          <h3 class="text-center">Ajouter un competence </h3>
      
        </div>
      </div>
  <hr>
  <div class="list-users shadow bg-light mt-5">
      <form action="" class="px-5 mb-4">
          <fieldset>
              <div class="form-group row mt-5">
                  <label for="GrpeCompetence" class="col-md-3 col-form-label">Groupe de Competences</label>
                  <div class="col-sm-7">
                          <p-multiSelect [options]="grpcompetences" [(ngModel)]="selectedCities" optionLabel="GroupeAction"></p-multiSelect>
                     
                  </div>
              </div>
              <div class="form-group row">
                  <label for="libelle" class="col-3 col-form-label">Libelle</label>
                  <div class="col-sm-7">
                    <small class="text-danger" *ngIf="! libelle.value">Ce champs doit-être remplie !!!  </small> 
                      <input type="text" name="libelle" class="form-control" ngModel id="libelle" placeholder="Libelle" required libelle  #libelle= "ngModel">
                  </div>
              </div>
              <div class="form-group row">
                  <label for="libelle" class="col-3 col-form-label">Niveaux</label>
                  <div class="col-md-7">
                      <ul class="nav nav-tabs">
                          <li class="nav-item">
                              <a href="#home" class="nav-link active" data-toggle="tab">Niveau 1</a>
                          </li>
                          <li class="nav-item">
                              <a href="#profile" class="nav-link" data-toggle="tab">Niveau 2</a>
                          </li>
                          <li class="nav-item">
                              <a href="#messages" class="nav-link" data-toggle="tab">Niveau 3</a>
                          </li>
                      </ul>
                      <div class="tab-content">
                          <div class="fade tab-pane row show active" id="home">
                              <div class="col">
                                  <h4 class="mt-2">Groupes  d'actions à réaliser</h4>
                                  <small class="text-danger" *ngIf="! CT.value">Ce champs doit-être remplie !!!  </small> 
                                  <textarea name="competence" id="competenc" class="form-control w-100" ngModel required CT  #CT= "ngModel"></textarea>
                              </div>
                              <div class="col">
                                  <h4 class="mt-2">Critere Evaluation</h4>
                                  <small class="text-danger" *ngIf="! CE.value">Ce champs doit-être remplie !!!  </small> 
                                  <textarea name="competence" id="compe" class="form-control w-100" ngModel required CE  #CE= "ngModel"></textarea>
                              </div>
                          </div>
          
                           <div class="fade tab-pane row" id="profile">
                              <div class="col">
                                  <h4 class="mt-2">Groupes  d'actions à réaliser</h4>
                                  <small class="text-danger" *ngIf="! CA.value">Ce champs doit-être remplie !!!  </small> 
                                  <textarea name="competence" id="cometence" class="form-control w-100" ngModel required CA  #CA= "ngModel"></textarea>
                              </div>
                              <div class="col">
                                  <h4 class="mt-2">Critere Evaluation</h4>
                                  <small class="text-danger" *ngIf="! CAE.value">Ce champs doit-être remplie !!!  </small> 
                                  <textarea name="competence" id="comce" class="form-control w-100" ngModel required CAE  #CAE= "ngModel"></textarea>
                              </div>
                          </div>
                          <div class="fade tab-pane row" id="messages">
                              <div class="col">
                                  <h4 class="mt-2">Groupes  d'actions à réaliser</h4>
                                  <small class="text-danger" *ngIf="! CAE.value">Ce champs doit-être remplie !!!  </small> 
                                  <textarea name="competence" id="competences" class="form-control w-100" ngModel required CAE  #CAE= "ngModel"></textarea>
                              </div>
                              <div class="col">
                                  <h4 class="mt-2">Critere Evaluation</h4>
                                  <small class="text-danger" *ngIf="! CAE.value">Ce champs doit-être remplie !!!  </small> 
                                  <textarea name="competence" id="competencee" class="form-control w-100" ngModel required CAE  #CAE= "ngModel"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="mt-4 button-form text-center">
                  <button type="submit" class="btn btn-primary w-25 submit mb-4">Soumettre</button>
              </div>
          </fieldset>



      </form>
  </div>
</div>

<h1>sel</h1>
