<div class=" mt-5 container bg-light ">
    <h1 class="bg-light">Add Referentiel</h1>
    <hr>
    <div class="list-users shadow bg-light mt-5">
        <form action="" class="px-5 mb-4">
            <fieldset>
                <div class="form-group row">
                    <label for="GrpeCompetence" class="col-md-3 col-form-label">Libelle</label>
                   
                    <div class="col-sm-7 ">
                        <input  type="text" name="libelle" class="form-control" id="libelle" placeholder="Libelle">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Presentation</label>
                    <div class="azerty">
                        <textarea name="libelle" class="col-12" id="libelle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium nesciunt sunt non numquam nulla sit, reprehenderit, magni libero ratione est id aliquam nostrum quod consequatur? Dolores aut provident assumenda culpa!
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Competence</label>
                    <div class="azerty p-3">
                        <div class="chip mb-2">
                            un portofolio comprenant la réalisation d'au moins
                            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                          </div>
                          <div class="chip">
                            un portofolio comprenant la réalisation d'au moins
                            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                          </div>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="GrpeCompetence" class="col-md-3 col-form-label">Programme</label>
                    <div class="col-sm-3">
                        <input type="file" name="libelle" class="form-control" id="libelle" placeholder="Libelle">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Critère d'évaluation</label>
                    <div class="azerty p-3">
                        <div class="chip mb-2">
                            un portofolio comprenant la réalisation d'au moins
                            
                          </div>
                          <div class="chip">
                            un portofolio comprenant la réalisation d'au moins
                            
                          </div>
                        </div>
                </div>
                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Critère d'admission </label>
                    <div class="azerty p-3">
                    <div class="chip mb-2">
                        un portofolio comprenant la réalisation d'au moins
                        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                      </div>
                      <div class="chip">
                        un portofolio comprenant la réalisation d'au moins
                        <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                      </div>
                    </div>
                </div>
                
                <div class="mt-4 button-form text-center">
                    <button type="submit" class="btn float-right btn-primary submit mb-4">Soumettre</button>
                </div>
            </fieldset>
  
  
  
        </form>
    </div>
  </div>