<div class="jumbotron content-wrapper mat-elevation-z8 container mt-5">
    <h1 class="bg-light text-center">Add Groupe Competence</h1>
    <hr>
    <div class="list-users shadow bg-light mt-5">
        <form action="" class="px-5 mb-4">
            <fieldset>
                <div class="form-group row mt-5" >
                    <label for="GrpeCompetence" class="col-md-3 col-form-label">Libelle</label>
                   
                    <div class="col-sm-7 ">
                        <small class="text-danger" *ngIf="! CAE.value">***</small> 
                        <input  type="text" name="libelle" class="form-control" id="libelle" placeholder="developper le back-end d'une application" ngModel required CAE  #CAE= "ngModel">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Descriptif</label>
                    <div class="azerty">
                        <small class="text-danger" *ngIf="! CAE.value">Ce champs doit-être remplie !!!  </small> 
                        <textarea name="libelle" class="col-12" id="libelle"  ngModel required CAE  #CAE= "ngModel">Donner le descriptif
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Competence</label>
                    <div class="azerty p-3">
                        
                          <p-multiSelect [options]="competences" [(ngModel)]="selectedCities2" defaultLabel="Select a Competence" optionLabel="Libelle" display="chip"></p-multiSelect>

                        </div>
                </div>
                
               
            </fieldset>
            <div class="mt-4 button-form text-center">
                <button type="submit" class="btn float-right btn-primary submit mb-4">Soumettre</button>
            </div>
  
  
        </form>
    </div>
  </div>
