<div class="jumbotron content-wrapper mat-elevation-z8 container mt-5">
    <h1 class="bg-light">Add Groupe Competence</h1>
    <hr>
    <div class="list-users shadow bg-light mt-5">
        <form action="" class="px-5 mb-4">
            <fieldset>
                <div class="form-group row mt-5" >
                    <label for="GrpeCompetence" class="col-md-3 col-form-label">Libelle</label>
                   
                    <div class="col-sm-7 ">
                        <input  type="text" name="libelle" class="form-control" id="libelle" placeholder="developper le back-end d'une application">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Descriptif</label>
                    <div class="azerty">
                        <textarea name="libelle" class="col-12" id="libelle">Donner le descriptif
                        </textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="libelle" class="col-3 col-form-label">Competence</label>
                    <div class="azerty p-3">
                        <div class="chip mb-2">
                            un portofolio comprenant la réalisation d'au moins
                            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                          </div>
                          <div class="chip">
                            un portofolio comprenant la réalisation d'au moins
                            <span class="closebtn" onclick="this.parentElement.style.display='none'">&times;</span>
                          </div>
                        </div>
                </div>
                
               
            </fieldset>
            <div class="mt-4 button-form text-center">
                <button type="submit" class="btn float-right btn-primary submit mb-4">Soumettre</button>
            </div>
  
  
        </form>
    </div>
  </div>