.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  .azerty{
      border: 2px solid #000;
      width: 55%;
      height: auto;
      margin-left: 14px;
  }
  .form-control{

    border: 2px solid #000;
  }
  .col-3{
      font-size: 20px;
      font-weight: bolder;
  }
  .col-md-3{
    font-size: 20px;
    font-weight: bolder;
}

  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }
  .jumbotron{
      height: 100%;
  }
  .list-users{
    height: 90%;
  }