<div class=" jumbotron content-wrapper mat-elevation-z8 container mt-5">
    <div class="row">
        <div class="col-12">
          <h3 class="text-center">Liste des competences <span class="float-right"><a class="peut" [routerLink] = "['/competence']">Ajouter
            <i class="fas fa-plus" style="font-size: 20px;" title="liste des competences"></i></a></span> </h3>
      
        </div>
      </div>
  <hr>
    <div class="list-users row shadow bg-light mt-5">
              <div class="col-6">
                <div class="form-group mt-5">
                    <div class="col-sm-8">
                        <select class="form-control form-control-lg">
                            <option disabled>--</option>
                            <option value="">Développer le back-end d'une application</option>
                        </select>

                    </div>

                    <div class="col-12 mt-5">
                        <textarea name="competence" id="competence" class="form-control w-100"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quisquam laboriosam dignissimos natus, mollitia, esse porro, asperiores vitae a consectetur necessitatibus placeat repellat quam ut praesentium rerum deserunt. Illo, vitae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nulla ratione
                        </textarea>                               
                     </div>
               </div>
              </div>
                <div class="col-6">
                    <div class="form-group">
                    
                        <div class="col-md-7 mt-5">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#home" class="nav-link active" data-toggle="tab">Niveau 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#profile" class="nav-link" data-toggle="tab">Niveau 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#messages" class="nav-link" data-toggle="tab">Niveau 3</a>
                                </li>
                            </ul>
                            <div class="tab-content mt-5">
                                <div class="fade tab-pane row show active" id="home">
                                    <div class="col">
                                        <h4 class="mt-2">Groupes  d'actions</h4>
                                        <textarea name="competence" id="competence" class="form-control w-100">Lorem ipsum elit. Autem nulla ratione
                                        </textarea>                                </div>
                                    <div class="col">
                                        <h4 class="mt-2">Critere Evaluation</h4>
                                        <textarea name="competence" id="competence" class="form-control w-100">Lorem  Autem nulla ratione
                                        </textarea>                                </div>
                                </div>
                
                                 <div class="fade tab-pane row" id="profile">
                                    <div class="col">
                                        <h4 class="mt-2">Groupes  d'actions</h4>
                                        <textarea name="competence" id="competence" class="form-control w-100">Lorem elit. Autem nulla ratione
                                        </textarea>                                </div>
                                    <div class="col">
                                        <h4 class="mt-2">Critere Evaluation</h4>
                                        <textarea name="competence" id="competence" class="form-control w-100">Lorem m nulla ratione
                                        </textarea>
                                    </div>
                                </div>
                                <div class="fade tab-pane row" id="messages">
                                    <div class="col">
                                        <h4 class="mt-2">Groupes  d'actions</h4>
                                        <textarea name="competence" id="competence" class="form-control w-100">Lorem ipsum dolor ratione
                                        </textarea>                                </div>
                                    <div class="col">
                                        <h4 class="mt-2">Critere Evaluation</h4>
                                        <textarea name="competence" id="competence" class="form-control w-100">Lorem ipsum dolor ratione
                                        </textarea>                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
  </div>
