<div class="jumbotron content-wrapper mat-elevation-z8 container mt-5">
 
<div class="">
  <br>  <p class="text-center">Ajouter un Utilisateur</p>
  <hr>
  
  <div class="card bg-light ">
  <article class="card-body mx-auto float-left" style="max-width: 400px;">
    <div class="avatar float-right" style="width: 100px; height:100px">
      <img class="rounded-circle " style="width: 250px; height:250px" [src]="image" alt="">
      <input type="file" (change)="file($event)" class="form-control mt-5 t" id="customFile" /> 
    </div>
    <form>
    <div class="form-group input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Nom" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
         </div>
            <input name="" class="form-control" placeholder="Prenom" type="text">
        </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
       </div>
          <input name="" class="form-control" placeholder="Username" type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
      </div>
      <select class="custom-select" style="max-width: 120px;">
          <option selected="">+221</option>
      </select>
        <input name="" class="form-control" placeholder="Phone number" type="text">
      </div> <!-- form-group// -->
      <!-- form-group end.// -->
    <!-- form-group// -->
    <div class="form-group input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i></span>
    </div>
    <select class="custom-select" style="max-width: 120px;">
        <option selected="">Profil</option>
        <option>Admin</option>
        <option>Formateur</option>
        <option>Apprenant</option>
        <option>CM</option>
    </select>
    </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
      </div>
          <input class="form-control" placeholder="Password" type="password">
      </div> <!-- form-group// -->   
      <div class="form-group">
          <button type="submit" class="btn btn-primary mt-3 btn-block"> Create Account  </button>
      </div> <!-- form-group// -->      
      <p class="text-center">Have an account? <a href="">Log In</a> </p>   
                                                                    
  </form>
  </article>
  </div> <!-- card.// -->
  
  </div> 
  <!--container end.//-->
  
  <br><br>
  <article class="bg-secondary mb-3">  
  <!-- <div class="card-body text-center">
      <h3 class="text-white mt-3">Bootstrap 4 UI KIT</h3>
  <p class="h5 text-white">Components and templates  <br> for Ecommerce, marketplace, booking websites 
  and product landing pages</p>   <br>
  <p><a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com  
   <i class="fa fa-window-restore "></i></a></p>
  </div> -->
  <br><br>
  </article>
  </div>
  