<div class="jumbotron content-wrapper mat-elevation-z8 container mt-5">
  <div class="row">
    <div class="col-12">
      <h3>Referentiels <span class="float-right"><a class="peut" [routerLink] = "['/AddReferentiel']">Ajouter
        <i class="fas fa-plus" style="font-size: 20px;" title="liste des competences"></i></a></span> </h3>
  
    </div>
  </div>
<hr>
<div class="row mt-5 ml-5 mb-4 container">

  <div class="card ml-2" style="width: 18rem;">
    <h1 class="p-3">Libelle <span class="float-right"><i class="fas fa-file-download mr-2" title="Importer un le fichier"></i><i class="far fa-edit text-warning mr-2" title="modifier"></i><i class="far fa-trash-alt text-danger" title="supprimer"></i></span> </h1> 
<hr>
    <h3>Programme </h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ea atque voluptates maiores adipisci quidem, at provident repellat. Molestiae reiciendis minima ipsum ad eius omnis error beatae quis quia quasi.
    </p>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Groupe Competence
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dignissimos nam, delectus voluptate dicta officiis recusandae iste nisi mollitia accusamus ratione placeat pariatur eveniet harum veritatis vero facilis minus vitae.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rerum saepe eveniet facilis culpa nesciunt error consequatur aut recusandae ab a repellendus, aliquid sapiente ea libero voluptas at. Corrupti, temporibus.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima accusamus quas iste excepturi ad magni dolorum autem voluptate aperiam fuga illo, esse omnis maxime, aliquam pariatur sapiente recusandae quisquam aut!        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="card ml-2" style="width: 18rem;">
    <h1 class="p-3">Libelle <span class="float-right"><i class="fas fa-file-download mr-2"  title="Importer un le fichier"></i><i class="far fa-edit text-warning mr-2" title="modifier"></i><i class="far fa-trash-alt text-danger" title="supprimer"></i></span> </h1> 
<hr>
    <h3>Programme </h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ea atque voluptates maiores adipisci quidem, at provident repellat. Molestiae reiciendis minima ipsum ad eius omnis error beatae quis quia quasi.
    </p>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingsms">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapsesms" aria-expanded="true" aria-controls="collapsesms">
            Groupe Competence
          </button>
        </h5>
      </div>
  
      <div id="collapsesms" class="collapse show" aria-labelledby="headingsms" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dignissimos nam, delectus voluptate dicta officiis recusandae iste nisi mollitia accusamus ratione placeat pariatur eveniet harum veritatis vero facilis minus vitae.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headings">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapses" aria-expanded="false" aria-controls="collapses">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapses" class="collapse" aria-labelledby="headings" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rerum saepe eveniet facilis culpa nesciunt error consequatur aut recusandae ab a repellendus, aliquid sapiente ea libero voluptas at. Corrupti, temporibus.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThr">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThr" aria-expanded="false" aria-controls="collapseThr">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseThr" class="collapse" aria-labelledby="headingThr" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima accusamus quas iste excepturi ad magni dolorum autem voluptate aperiam fuga illo, esse omnis maxime, aliquam pariatur sapiente recusandae quisquam aut!        </div>
      </div>
    </div>
  </div>
  </div>


  <div class="card ml-2" style="width: 18rem;">
    <h1 class="p-3">Libelle <span class="float-right"><i class="fas fa-file-alt mr-2"  title="Importer un le fichier"></i><i class="far fa-edit text-warning mr-2" title="modifier"></i><i class="far fa-trash-alt text-danger" title="supprimer"></i></span> </h1> 
<hr>
    <h3>Programme </h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. A ea atque voluptates maiores adipisci quidem, at provident repellat. Molestiae reiciendis minima ipsum ad eius omnis error beatae quis quia quasi.
    </p>
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOn">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOn" aria-expanded="true" aria-controls="collapseOn">
            Groupe Competence
          </button>
        </h5>
      </div>
  
      <div id="collapseOn" class="collapse show" aria-labelledby="headingOn" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dignissimos nam, delectus voluptate dicta officiis recusandae iste nisi mollitia accusamus ratione placeat pariatur eveniet harum veritatis vero facilis minus vitae.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTw">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTw" aria-expanded="false" aria-controls="collapseTw">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapseTw" class="collapse" aria-labelledby="headingTw" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur rerum saepe eveniet facilis culpa nesciunt error consequatur aut recusandae ab a repellendus, aliquid sapiente ea libero voluptas at. Corrupti, temporibus.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseree" aria-expanded="false" aria-controls="collapseree">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseree" class="collapse" aria-labelledby="headingree" data-parent="#accordion">
        <div class="card-body">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima accusamus quas iste excepturi ad magni dolorum autem voluptate aperiam fuga illo, esse omnis maxime, aliquam pariatur sapiente recusandae quisquam aut!        </div>
      </div>
    </div>
  </div>
  </div>
  
</div>
<div class="container">

  <nav aria-label="Page navigation example">
    <ul class="pagination float-right">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
</div>
